<div *ngIf="!modal">
    <div class="container-fulid pt-2" *ngFor='let resource of data'>
        <div class="row">
            <div class="col-md-7 offset-md-1 grey_title pb-1"
                style="background-color: #1d8459; border: 1px solid black">
                <div class="pt-2" id="Title">
                    <h5 class="text-center text-white text-capitalize">{{resource.resource_type}}</h5>
                </div>
                <div class="d-flex">
                    <img src="assets/images/book.png" width="20%" class="pl-2">
                    <p class="pt-3 pl-3 text-white" id="Description"><b>{{resource.description}}</b></p>
                </div>
                <button class="btn btn-secondary text-white float-right" (click)="resourceDetails(resource)">more
                    Details</button>
            </div>
            <div class="col-md-3 pl-5">
                <div class="d-flex">
                    <div class="d-flex flex-column">
                        <a href="#"><img src="assets/images/Plus.png" width="55px" title="Save This"></a>
                        <star-rating [value]="resource.avg_rating" checkedcolor="red" uncheckedcolor="black" size="24px"
                            readonly="true"></star-rating>
                        <a class="pointer" (click)="followAuther(resource.author)"><img src="assets/images/Profile.png"
                                width="60px" title="Follow Auther"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 pt-5">
            <div class="d-flex collapse" *ngFor="let comment of resource.fewComment">
                <div class="col-md-1 offset-md-1">
                    <div class="d-flex pic_padding">
                        <img src="assets/images/Author.png" width="50" style="border-radius: 50%">
                    </div>
                </div>
                <div class="col-md-5 pr-5 pic_padding comment">
                    <div class="d-flex flex-column">
                        <h4>{{comment.commenter_name}}
                            <star-rating [value]="getRating(comment.commenter,resource.id)" checkedcolor="red"
                                uncheckedcolor="black" size="24px" readonly="true"></star-rating>
                        </h4>
                        <p class="pt-2">{{comment.comment}}</p>
                        <span class="data"
                            style="font-size: 12px;position: absolute;right: 0;top:10px;">{{comment.created | date:medium}}</span>
                    </div>
                </div>
            </div>
            <!-- <div class="d-flex collapse" *ngFor="let rate of onlyRating">
                <div class="col-md-1 offset-md-1">
                    <div class="d-flex pic_padding">
                        <img src="assets/images/Author.png" width="50" style="border-radius: 50%">
                    </div>
                </div>
                <div class="col-md-5 pr-5 pic_padding comment">
                    <div class="d-flex flex-column">
                        <h4>{{rate.rated_by_name}} 
                            <star-rating [value]="rate.rating" checkedcolor="red" uncheckedcolor="black" size="24px" readonly="true"></star-rating>
                        </h4>
                        <p class="pt-2"></p>
                        <span class="data" style="font-size: 12px;position: absolute;right: 0;top:10px;">{{rate.created | date:medium}}</span>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>


<div class="not_found" *ngIf='empty'>
    <img src="assets/images/not-found.png" alt="">
</div>


<!-- <div class="row pt-4">
    <div class="col-md-7 offset-md-1">
        <form [formGroup]='commentForm'>
            <div class="form-group">
                <div>
                    <h5>Rate This Link</h5>
                </div>
                <div>
                    <img src="assets/images/BlackStar.png" width="6%">
                    <img src="assets/images/BlackStar.png" width="6%">
                    <img src="assets/images/BlackStar.png" width="6%">
                    <img src="assets/images/FillStar.png" width="6%">
                    <img src="assets/images/FillStar.png" width="6%">
                </div>
            </div>
            <div class="form-group">
                <h5 for="exampleInputPassword1">Comment : </h5>
                <textarea type="password" class="form-control" formControlName="rate"                     placeholder="Enter Your Comment Here"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button class="btn btn-success ml-2" type="button" data-toggle="collapse" data-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">All Comment</button>
        </form>
    </div>
</div> -->

<div *ngIf="modal">
    <div class="container-fulid pt-2">
        <div class="row">
            <strong class="pointer pl-3" (click)="hideModal()">〈 Back</strong>
            <div class="col-md-7 offset-md-1 grey_title pb-1"
                style="background-color: #1d8459; border: 1px solid black">
                <div class="pt-2" id="Title">
                    <h5 class="text-white text-capitalize text-center">{{modelData.resource_type}}</h5>
                </div>
                <div class="d-flex">
                    <img src="assets/images/book.png" width="20%" class="pl-2">
                    <p class="pt-3 pl-3 text-white" id="Description"><b>{{modelData.description}}</b></p>
                </div>
            </div>
            <div class="col-md-3 pl-5">
                <div class="d-flex">
                    <div class="d-flex flex-column">
                        <a href="#"><img src="assets/images/Plus.png" width="55px" title="Save This"></a>
                        <star-rating [value]="modelData.avg_rating" checkedcolor="red" uncheckedcolor="black"
                            size="24px" readonly="true"></star-rating>
                        <a class="pointer" (click)="followAuther(modelData.author)"><img src="assets/images/Profile.png"
                                width="60px" title="Follow Auther"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 pt-5">
            <div class="d-flex collapse" *ngFor="let comment of modelData.comments">
                <div class="col-md-1 offset-md-1">
                    <div class="d-flex pic_padding">
                        <img src="assets/images/Author.png" width="50" style="border-radius: 50%">
                    </div>
                </div>
                <div class="col-md-5 pr-5 pic_padding comment">
                    <div class="d-flex flex-column">
                        <h4 class="">{{comment.commenter_name}}
                            <star-rating [value]="getRating(comment.commenter,modelData.id)" checkedcolor="red"
                                uncheckedcolor="black" size="24px" readonly="true"></star-rating>
                        </h4>
                        <p class="pt-2">{{comment.comment}}</p>
                        <span class="data"
                            style="font-size: 12px;position: absolute;right: 0;top:10px;">{{comment.created | date:medium}}</span>
                    </div>
                </div>
            </div>
            <div class="d-flex collapse" *ngFor="let rate of onlyRating">
                <div class="col-md-1 offset-md-1">
                    <div class="d-flex pic_padding">
                        <img src="assets/images/Author.png" width="50" style="border-radius: 50%">
                    </div>
                </div>
                <div class="col-md-5 pr-5 pic_padding comment">
                    <div class="d-flex flex-column">
                        <h4>{{rate.rated_by_name}}
                            <star-rating [value]="rate.rating" checkedcolor="red" uncheckedcolor="black" size="24px"
                                readonly="true"></star-rating>
                        </h4>
                        <p class="pt-2"></p>
                        <span class="data"
                            style="font-size: 12px;position: absolute;right: 0;top:10px;">{{rate.created | date:medium}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-4">
            <div class="col-md-7 offset-md-2">
                <form [formGroup]='rateCommentForm' (ngSubmit)="ratingHandler()">
                    <h5>Write a Review about this Post</h5>
                    <div class="form-group">
                        <label>Rate This Link</label><br>
                        <star-rating [value]="rate" checkedcolor="red" uncheckedcolor="black" size="24px" readonly="false" (rate)="onRate($event)"></star-rating>
                    </div>
                    <div class="form-group">
                        <label>Comment : </label>
                        <textarea class="form-control" formControlName="comment" placeholder="Enter Your Comment Here"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button class="btn btn-secondary ml-2" (click)="hideModal()">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>