<!-- Navbar Header -->
<div class="d-flex bg-light">

  <div class="col-md-2 pt-2" style="text-align: center">
    <a routerLink="/categories" *ngIf='!loginPage'><img src="assets/images/logo1.png" width="100" height="60"></a>
    <a routerLink="/login" *ngIf='loginPage'><img src="assets/images/logo1.png" width="100" height="60"></a>
  </div>

  <div class="col-md-6 pt-3" *ngIf='!loginPage'>
    <div class="input-group mb-3">
      <input type="search" class="form-control" #inputSearch placeholder="Search">
      <div class="input-group-append">
        <button class="btn btn-success" (click)="searchContents()">Search</button>
      </div>
    </div>
  </div>

  <div class="col-md-1"> </div>

  <div class="dropdown col-md-3 pt-3 pr-5 text-right" *ngIf='!loginPage'>
    <a class=" dropdown-toggle user" data-toggle="dropdown">
      <img height="40" width="40" src="assets/images/user-logo.png">
    </a>
    <ul class="dropdown-menu text-center">
      <li><a class="pointer" (click)="logout()">Logout</a></li>
    </ul>
  </div>

</div>

<div class="d-flex" style="min-height: 90vh;">
  <div class="col-md-2 bg-light px-0" style="text-align: center" *ngIf='!loginPage'>
    <div class="col-12 pt-3 pb-2 px-0 bg-theme mb-3">
      <div class="pl-4 pr-2">
        <h4 style="color: White">Resources</h4>
      </div>
    </div>
    <h5><a routerLink="/pins">My Pins</a></h5>
    <h6 class="pt-2" *ngIf='currentUser.role || currentUser.is_admin'><a routerLink="/add-resource">Create Resource</a></h6>
    <h6 class="pt-2" *ngIf='currentUser.is_admin'><a routerLink="/addtopic">Create Topic</a></h6>
    <h6 class="pt-2" *ngIf='currentUser.is_admin'><a routerLink="/pending">Get Pendings</a></h6>
    <div class="pl-5">
      <hr>
    </div>
    <h6><a routerLink="/categories">Categories</a></h6>
    <h6 class="pt-1"><a routerLink="/top-rated">Top Rated</a></h6>
    <h6 class="pt-1"><a routerLink="/top-teachers">Top Rated Teachers</a></h6>
    <h6 class="pt-1"><a routerLink="/teachers">Teacher</a></h6>
    <div class="my-rating"></div>
  </div>

  <div class="col-md-10" style="background-color: #eeeeee" *ngIf='!loginPage'>
    <router-outlet></router-outlet>
  </div>
  <div class="d-inline-block" style="background-color: #fff;margin: 50px auto;text-align: center;" *ngIf='loginPage'>
    <div class="d-flex">
      <router-outlet></router-outlet>
    </div>
  </div>


</div>
<!-- <div class="d-flex"
  style="min-height: 80vh;text-align: center;align-items: center;width: 75%;justify-content: space-around;"
  *ngIf='loginPage'>
  <router-outlet></router-outlet>
</div> -->