

<!-- Navbar Header -->
<div class="d-flex bg-light">
            
    <div class="col-md-2 pt-2" style="text-align: center"> 
        <a routerLink="/home"><img src="assets/images/logo.jpg" width="60" height="60"></a>
    </div>
    
    <div class="col-md-6 pt-3"> 
        <div class="input-group mb-3">
          <input type="search" class="form-control" #inputSearch placeholder="Search">
          <div class="input-group-append">
            <button class="btn btn-success" (click)="searchContents()">Search</button> 
          </div>
        </div>
    </div>
    
    <div class="col-md-1"> </div>

    <div class="dropdown col-md-3 pt-3 pl-5">
        <a class=" dropdown-toggle" data-toggle="dropdown">
                <img src="https://img.icons8.com/material-rounded/50/000000/user.png">
        </a>
        <ul class="dropdown-menu text-center">
          <li><a href="#">Logout</a></li>
        </ul>
      </div>

</div>



<!-- Second Navabr -->
<div class="d-flex">
  
    <div class="col-md-2 pt-3 pb-2 bg-success">
        <div class="d-flex pl-4 pr-2">
            <!---- <img src="Bars.png" width="30" height="30" class="mr-4"> -->
            <h4 style="color: White">Resources</h4>
        </div>
    </div>
    
    <nav class="navbar navbar-expand-lg navbar-light col-md-10" style="background-color:#fff">
      <a class="navbar-brand pr-2" routerLink="/categories" >Categories</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Top Rated <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">My Pins</a>
                <a class="nav-item nav-link" routerLink="/home">Home</a>
                <a class="nav-item nav-link" routerLink="/admin">Admin</a>
            </div>
        </div>
    </nav>
</div>

<div class="d-flex">
  <div class="col-md-2 pt-3 bg-light" style="text-align: center">
      <h5><a routerLink="/resource">My Resources</a></h5>
      <h5 class="pt-2"><a href="#" style="color: green;">Follow</a></h5>
      <div class="pl-5">
          <hr>
      </div>
      <h6><a routerLink="/categories">Categories</a></h6>
      <h6 class="pt-1"><a href="#">Top Rated</a></h6>
      <h6 class="pt-1"><a href="#">Top Authors</a></h6>
                <!-- <div class="pl-5">
                    <hr>
                </div> -->
       <h6 class="pt-1"><a href="#">Most viewed</a></h6>
       <h6 class="pt-1"><a href="#">Most Popular</a></h6>
       <div class="my-rating"></div>
  </div>
    
  <div class="col-md-10" style="background-color: #eeeeee">
    <router-outlet></router-outlet>
  </div>
  
 
</div>

