<!-- <div class="container-fulid d-flex pt-2" *ngFor='let resource of data'> -->
<div class="container-fulid pt-2">
  <div class="row">
    <div class="col-md-10 offset-md-1 grey_title pb-1" style="background-color: #1d8459; border: 1px solid #eee"
      *ngFor='let teacher of data'>
      <div class="pt-2" id="Title">
        <img src="assets/images/Author.png" width="50" style="border-radius: 50%">
        <h5 class="d-inline-block ml-2 text-white text-capitalize">{{teacher.username}}</h5>
        <a class="pointer float-right text-white btn btn-secondary" (click)="followAuther(teacher.id)">Follow</a>
        <!-- <a class="pointer float-right" (click)="followAuther(teacher.id)"><img src="assets/images/Profile.png" width="60px"
            title="Follow Auther"></a> -->
      </div>
    </div>
  </div>
</div>
<div class="not_found" *ngIf='empty'>
  <img src="assets/images/not-found.png" alt="">
</div>