<div>
    <div class="col-md-4">
            <a routerLink="/gridresource"><img src="https://img.icons8.com/ios-filled/30/000000/activity-grid--v2.png"></a>
            <a routerLink="/resource"><img src="https://img.icons8.com/material-two-tone/40/000000/day-view.png"></a>
    </div>
</div>

<!--Resource Grid -->
<div class="container-fulid pt-2">
  <div class="d-flex">
    <div class="col-md-3 pb-3">
        <!-- Title -->
        <div class="card">
            <h5 class="card-title pt-2" style="text-align: center;">Nota Sains Tahun 2</h5>
            <img class="card-img-top"  src="assets/images/book.png"  alt="Card image cap">
            <div class="card-body">
              <input type="text" class="form-control" placeholder="www.google.com/first+bar+website.png" style="border: 1px solid black">
              <p class="card-text" style="text-align: center;">Some Text Here Related to the snippet</p>
              </div>
          </div>
    </div>

    <div class="col-md-3 pb-3">
        <!-- Title -->
        <div class="card">
            <h5 class="card-title pt-2" style="text-align: center;">Nota Sains Tahun 2</h5>
            <img class="card-img-top"  src="assets/images/book.png"  alt="Card image cap">
            <div class="card-body">
              <input type="text" class="form-control" placeholder="www.google.com/first+bar+website.png" style="border: 1px solid black">
              <p class="card-text" style="text-align: center;">Some Text Here Related to the snippet</p>
              </div>
          </div>
    </div>

    <div class="col-md-3 pb-3">
        <!-- Title -->
        <div class="card">
            <h5 class="card-title pt-2" style="text-align: center;">Nota Sains Tahun 2</h5>
            <img class="card-img-top"  src="assets/images/book.png"  alt="Card image cap">
            <div class="card-body">
              <input type="text" class="form-control" placeholder="www.google.com/first+bar+website.png" style="border: 1px solid black">
              <p class="card-text" style="text-align: center;">Some Text Here Related to the snippet</p>
              </div>
          </div>
    </div>

    <div class="col-md-3 pb-3">
        <!-- Title -->
        <div class="card">
            <h5 class="card-title pt-2" style="text-align: center;">Nota Sains Tahun 2</h5>
            <img class="card-img-top"  src="assets/images/book.png"  alt="Card image cap">
            <div class="card-body">
              <input type="text" class="form-control" placeholder="www.google.com/first+bar+website.png" style="border: 1px solid black">
              <p class="card-text" style="text-align: center;">Some Text Here Related to the snippet</p>
              </div>
          </div>
    </div>
  </div> 
</div>