<div class="col-md-7 ml-5 mt-5 mb-5 form-container">
  <form [formGroup]="addResource" class="form" (submit)='addResourceHandler()'>
    <div class="form-group">
      <label>Link</label>
      <input type="link" class="form-control" formControlName='link' placeholder="Enter Resource Link">
      <label class="error" *ngIf="subbmitted && f.link.errors">Link is required</label>
    </div>
    <div class="form-group">
      <label>Subject</label>
      <select class="form-control" formControlName='subject'>
        <option value="" disabled>Select Subject</option>
        <option value="1">Math</option>
        <option value="2">Computer Science</option>
      </select>
      <label class="error" *ngIf="subbmitted && f.subject.errors">Subject is required</label>
    </div>
    <div class="form-group">
      <label>Level</label>
      <select class="form-control" formControlName='level'>
          <option value="" disabled>Select Level</option>
          <option value="1">Level 1</option>
          <option value="2">Level 2</option>
          <option value="3">Level 3</option>
        </select>
      <label class="error" *ngIf="subbmitted && f.level.errors">Level is required</label>
    </div>
    <div class="form-group">
      <label>Topic</label>
      <select class="form-control" formControlName='topic'>
          <option value="" disabled>Select Topic</option>
          <option value="1">Topic 1</option>
          <option value="2">Topic 2</option>
          <option value="3">Topic 3</option>
        </select>
      <label class="error" *ngIf="subbmitted && f.topic.errors">Topic is required</label>
    </div>
    <div class="form-group">
      <label>Resource type</label>
      <select class="form-control" formControlName='resource_type'>
          <option value="" disabled>Select Resource Type</option>
          <option value="notes">Notes</option>
          <option value="excecise">Excecise</option>
        </select>
      <label class="error" *ngIf="subbmitted && f.resource_type.errors">Resource type is required</label>
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" formControlName='description' placeholder="Enter Description" rows="5"></textarea>
        <label class="error" *ngIf="subbmitted && f.description.errors">Description is required</label>
      </div>
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
  </form>
</div>