/* You can add global styles to this file, and also import other style files */
label.error {
  color: #ff0000;
  padding-left: 15px;
  font-size: 14px;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.form-container form{
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}
textarea{
  resize: none;
  height: 150px;
}
.form-control:focus{
  box-shadow: none;
  border-color: #ced4da
}
.user.dropdown-toggle::after{
  position: relative;
  bottom: -10px;
}
.bg-theme{
  background-color: #f36f3a !important
}
.bg-success{
  background-color: #1d8459 !important
}
.btn-success{
  background-color: #1d8459 !important;
  border-color: #1d8459 !important
}
.h4, h4{
  font-size: 18px;
}