/* You can add global styles to this file, and also import other style files */
label.error {
  color: #ff0000;
  padding-left: 15px;
  font-size: 14px;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.form-container form{
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}
textarea{
  resize: none;
  height: 150px;
}