<div class="d-flex">
  
  
  <nav class="navbar navbar-expand-lg navbar-light col-md-10" style="background-color:#fff">
    <a class="navbar-brand pr-2" routerLink="/pending" >Pending</a>
    <a class="navbar-brand pr-2" routerLink="/addtopic" >Add Topic</a>     
  </nav>
</div>

<div class="col-md-7 ml-5 mt-5 mb-5 form-container">
  <form [formGroup]="addTopic" class="form" (submit)='addTopicHandler()'>
    <div class="form-group">
      <label for="exampleInputEmail1">Title</label>
      <input type="text" class="form-control" formControlName='title' placeholder="Enter Resource Link Here">
      <label class="error" *ngIf="subbmitted && f.title.errors">Title is required</label>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Subject</label>
      <input type="number" class="form-control" formControlName='subject'  placeholder="Subject">
      <label class="error" *ngIf="subbmitted && f.subject.errors">Subject is required</label>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Level</label>
      <input type="number" class="form-control" formControlName='level'  placeholder="Topic Level">
      <label class="error" *ngIf="subbmitted && f.level.errors">Level is required</label>
    </div>   
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
  </form>
</div>
