<div class="d-flex">
  
  
  <nav class="navbar navbar-expand-lg navbar-light col-md-10" style="background-color:#fff">
    <a class="navbar-brand pr-2" routerLink="/pending" >Pending</a>
    <a class="navbar-brand pr-2" routerLink="/addtopic" >Add Topic</a>     
  </nav>
</div>

<div class="col-md-7 ml-5 mt-5 mb-5">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Resource Link</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Resource Link Here">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Subject</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Subject">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Level</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Topic Level">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Author</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Author Name">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
